
macosx/.DS_Store

macosx/HandBrake.xcodeproj/project.xcworkspace/xcuserdata/olarivain.xcuserdatad/UserInterfaceState.xcuserstate

macosx/HandBrake.xcodeproj/xcuserdata/olarivain.xcuserdatad/xcschemes/xcschememanagement.plist
